<% provide :title do %><%= t("devise_views.sessions.new.title") %><% end %>
  <h2 class="title-login-page"><%= t("devise_views.sessions.new.title") %></h2>
  
  <%= render "devise/omniauth_form", action: "sign_in" %>
  
  
  
  <!-- login -->
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row">
      <div class="small-12 medium-12 large-12 column">
        <%= f.text_field :login, autofocus: true,
        placeholder: t("devise_views.users.registrations.new.placeholder_login_username"),
        label: t("devise_views.users.registrations.new.login_username")
        %>
      </div>
  
      <div class="small-12 medium-12large-12 column">
        <%= f.password_field :password, autocomplete: "off", placeholder: t("devise_views.users.registrations.new.password"), label: t("devise_views.users.registrations.new.password")%>
        <div class = "line_remember_login">
          <% if devise_mapping.rememberable? -%>
            <%= f.check_box :remember_me, label: t("devise_views.sessions.new.remember_me") %>
          <% end -%>
          <%= link_to t("devise_views.shared.links.new_password"), new_password_path(resource_name), class: "float-right" %>
        </div>
      </div>
  

  
      <div class="small-12 medium-8 small-centered">
        <%= f.submit(t("devise_views.sessions.new.submit"), class: "button expanded") %>
      </div>
      <p class = "account">
        <%= sanitize(t("devise_views.shared.links.signup",
        signup_link: link_to(t("devise_views.shared.links.signup_link"), new_user_registration_path)))
        %>
      </p>
    </div>
  <% end %>
  
  <%= render "devise/shared/links" %>
  
