<div class="register-organization-page">
  <% provide :title do %><%= t("devise_views.organizations.registrations.new.title") %><% end %>
  <h2 class = "title_organizations"><%= t("devise_views.organizations.registrations.new.title") %></h2>

  <%= form_for(resource, as: :user, url: organization_registration_path) do |f| %>
    <%= render "shared/errors", resource: resource %>
    <div class="row">
      <div class="small-12 column">

        <%= f.fields_for :organization do |fo| %>
          <%= fo.text_field :name, autofocus: true, maxlength: Organization.name_max_length,label: t("devise_views.organizations.registrations.new.name_organizations"),
          placeholder: t("devise_views.organizations.registrations.new.placeholder_name_organizations")
          %>
          <%= fo.text_field :responsible_name,
            maxlength: Organization.responsible_name_max_length,
            label: t("devise_views.organizations.registrations.new.person_in_charge_of_the_group"),
            placeholder: t("devise_views.organizations.registrations.new.placeholder_person_incharge_of_the_group")
            %>
        <% end %>

        <%= f.email_field :email,label: t("devise_views.organizations.registrations.new.email"),placeholder: t("devise_views.organizations.registrations.new.placeholder_email")  %>

        <%= f.phone_field :phone_number,label: t("devise_views.organizations.registrations.new.phone"),placeholder: t("devise_views.organizations.registrations.new.placeholder_phone") %>

        <%= f.invisible_captcha :address %>

        <%= f.password_field :password, autocomplete: "off", label: t("devise_views.organizations.registrations.new.password"),placeholder: t("devise_views.organizations.registrations.new.placeholder_password") %>

        <%= f.password_field :password_confirmation, autocomplete: "off",
                            label: t("devise_views.organizations.registrations.new.confirm_password"),
                            placeholder: t("devise_views.organizations.registrations.new.placeholder_confirm_password")
                            %>
        <div class = "small-12 medium-9 large-12 register_bottom">
          <%= f.check_box :terms_of_service,
            title: t("devise_views.users.registrations.new.terms_title"),
            label: t("devise_views.users.registrations.new.terms",
                    terms: link_to(t("devise_views.users.registrations.new.terms_link"),
                                    "https://www.moveforwardparty.org/privacy-policy/",
                                    title: t("shared.target_blank"),
                                    target: "_blank")
                    ) %>
        </div>
        <div class="small-12 medium-7 small-centered ">
          <%= f.submit t("devise_views.organizations.registrations.new.submit"), class: "button expanded" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= render "devise/shared/links" %>
