<!DOCTYPE html>
<html <%= "dir=rtl" if rtl? %> lang="<%= I18n.locale %>">
  <head>
    <%= render "layouts/common_head", default_title: setting["org_name"] %>
    <%= render "layouts/meta_tags" %>
    <%= raw setting["html.per_page_code_head"] %>
  </head>
  <div class="page-login">
    <body class="auth-page">
      <%= raw setting["html.per_page_code_body"] %>
      <div class="wrapper_devise">
        <div class="wrapper_devise_left">
          <%= back_link_to debates_path %>
          <%= image_tag(image_path_for("logo_header.png"), class: "float-left", alt: setting["org_name"]) %>
          <div class="list_rule">
            <h3 class ="title_login_header" ><%= t("devise_views.rule.title") %></h3>
            <h5 class ="title_login"><%= t("devise_views.rule.rule_1") %></h5>
            <h5 class ="title_login"><%= t("devise_views.rule.rule_2") %></h5>
            <h5 class ="title_login"><%= t("devise_views.rule.rule_3") %></h5>
            <h5 class ="title_login"><%= t("devise_views.rule.rule_4") %></h5>
          </div>
        </div>
        <div class="wrapper_devise_right">
          <div class="right_side">
            <div class="small-12 medium-8 column" >
              <div class="auth-form margin" >
                <%= render "layouts/flash" %>

                <%= yield %>
              </div>
            </div>
          </div>
        </div>
      </div>

    </body>
  </div>
</html>