<!DOCTYPE html>
<html <%= "dir=rtl" if rtl? %> lang="<%= I18n.locale %>">
  <head>
    <%= render "layouts/common_head", default_title: setting["org_name"] %>
    <%= render "layouts/meta_tags" %>
    <%= raw setting["html.per_page_code_head"] %>
  </head>
  <div class="page-login">
    <body class="auth-page">
      <%= raw setting["html.per_page_code_body"] %>
      <div class="wrapper">
        <div class="left_left">
          <div class="small-12 medium-4 column">
            <h1 class="logo margin">
              <div class="img_login">
                  <div class="top">
                    <%= back_link_to class: "back_login" %>
                      <%= link_to root_path do %>
                        <%= image_tag(image_path_for("logo_header.png"), class: "float-left", alt: setting["org_name"]) %>
                      <% end %>
                  </div>
                  <div class="bottom">
                    <h3><%= t("devise_views.rule.title") %></h3>
                    <h5><%= t("devise_views.rule.rule_1") %></h5>
                    <h5><%= t("devise_views.rule.rule_2") %></h5>
                    <h5><%= t("devise_views.rule.rule_3") %></h5>
                    <h5><%= t("devise_views.rule.rule_4") %></h5>
                  </div>
              </div>
            </h1>
          </div>
        </div>
        <div class="right_right">
          <div class="small-12 medium-8 column" >
            <div class="row" >
              <div class="small-12 medium-9 large-7 small-centered column" >
                <div class="auth-form margin" >
                  <%= render "layouts/flash" %>

                  <%= yield %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </body>
  </div>
</html>